.DS_Store
Makefile.global
Makefile.fragments
Makefile.objects
Makefile
ac*
autom4te.cache
build
config.guess
config.h*
config.log
config.nice
config.status
config.sub
configure*
include
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
modules
run-tests.php
safe_array_lookup.l*
phpdoc/phpdoct
vg*
.idea
.libs
.deps
sal_intellij_module
*.iml
*.la
*.lo
*.a
*.tab.cpp
*.tab.hpp
*.yacc.cpp
*.yacc.hpp
*.lex.cpp
*.lex.hpp
*.yacc.output
*.yy.cpp
*.loT
*.o
*.so
*.dot
*.output
tests/*.diff
tests/*.php
tests/*.exp
tests/*.log
tests/*.out
tests/*.sh
TODO
private/*
